
:root{
    --heading-font:'Playfair Display',serif;
    --text-font:'Inter',sans-serif;
    --head-foot-color:#395E66;
    --secondary:#387D7A;
    --main-bg-color:#CAE7B9;
}
@media  screen and (max-width:561px) {
    
*{
    box-sizing: border-box;
}
header,main,footer{
    margin:-10px;
    padding:0;
}
h1,h2,h3,h4{
    font-family: var(--heading-font);
}
p{
    font-family: var(--text-font);
    margin:0;
}

header,footer{
    background-color: var(--head-foot-color);
}
h1,h2,footer{
    text-align: center;
}


.ham::before{
    content:'≡';
    margin-left:10px;
}
.ham.show::before{
    content:"Ⅹ";

}
.navigation{
    background-color: var(--secondary);
}
.navigation a:hover{
    background-color: #395E66;
    color:white;
}
.navigation li:hover{
    background-color: #395E66;
}

.navigation li{
    display:none;
}


.show li{
    display:block;
    text-align: center;
}
.navigation li a{
    color:black;
    text-decoration: none;
    text-align: center;
}
.navigation li a:hover{
    color:white;
}

main{
    width: auto;
    margin:0 auto;
    background:var(--main-bg-color)
}
.fig-caption{
    display:grid;
    grid-template-columns: 1fr;
}
figure{
    text-align: center;
}
figure img{
    max-width:250px;
    margin:0 auto;
    display:inline-block;
}
figure figcaption{
    text-align: center;
}

}